* {
    margin: 0;
    padding: 0;
    background: darkgreen;
     }

#gameCanvas {
    border: solid 3px green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: burywood;
}

#score {
    border: dashed 5px lightgreen;
    text-align: center;
    font-size: 140px;
    font-family: 'Antic Slab', serif;
}

#screen-container {
}
